body
{
    margin: 0;
    font-family: 'Times New Roman';
    background: url(../img/pattern.png);
}

.card
{
    width: 500px;
    margin: 45px auto;
    background-color: #e4ffff;
    box-shadow: 3px 5px 8px #b9b9b9;
    border-radius: 20px;
    padding: 10px;
}

.card_photo
{
    width: 200; height: 200;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.card_title
{
    font-size: 25px;
    text-align: center;
    color: #005d72;
}

.card_text
{
    font-size: 16px;
}

.card_subtitle
{
    font-size: 19px;
    color: #00afafde;
}

.card_list
{
    padding-left: 0;
    list-style-position: inside;
    font-size: 16px;
}